celery==5.4.0
redis==5.2.1

# config / pydantic
pydantic==2.12.5
pydantic-settings==2.13.1
pydantic_core==2.41.5
python-dotenv==1.2.2
annotated-types==0.7.0
typing_extensions==4.15.0
typing-inspection==0.4.2

# database
SQLAlchemy==2.0.48
psycopg2-binary==2.9.11
GeoAlchemy2==0.18.4

# ETL utilities
geopandas
pandas
diskcache
